
<head>
<title>Pizza Factory</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href='/static/styles/style.css'/>

</head>
<body>
<div id="container">
  <div id="incontainer">
    <div id="content">
    <div id="horiz"> 
        <a  href="{{ url_for('index') }}" id=l1><center>Home</center></a>
        <a  href="{{ url_for('login') }}" id=l2><center>Login</center></a>
        <a   href="{{ url_for('cart') }}"id=l3><center>Cart!</center></a>
        
    
    </div>
      <div id="leftPan">
        <div id="welcome">
          <h2></h2>
          <p>Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. </p>
          <p>Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. In volutpat sodales ipsum. Sed vestibulum. Integer in ante. Sed Nunc laoreet lacinia nunc. In volutpat sodales </p>

        </div>
      </div>
      <div id="rightPan">
        <div id="special">
          <h2></h2>
          <div class="specialItem"> <img src="/static/images/img_pizza.jpg" width="75" height="75" alt="" />
            <p><span class="headline">Nam eu nulla. Donec lobortis purus vel urna. Nunc </span><br />
              Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. In volutpat sodales ipsum. Sed vestibulum. Integer in ante. Sed Nunc laoreet lacinia nunc. In volutpat sodales <a href="#">ADD IT TO THE CART!</a> OR  <a href="#">BUY IT NOW!</a></p>
            <div class="clear"></div>
          </div>
          <div class="specialItem"> <img src="/static/images/img_pizza-10.jpg" width="75" height="75" alt="" />
            <p><span class="headline">Nam eu nulla. Donec lobortis purus vel urna. Nunc </span><br />
              Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. In volutpat sodales ipsum. Sed vestibulum. Integer in ante. Sed Nunc laoreet lacinia nunc. In volutpat sodales <a href="#">ADD IT TO THE CART!</a> OR <a href="#">BUY IT NOW!</a></p>
            <div class="clear"></div>
          </div>
          <div class="specialItem"> <img src="/static/images/img_pizza-10.jpg" width="75" height="75" alt="" />
            <p><span class="headline">Nam eu nulla. Donec lobortis purus vel urna. Nunc </span><br />
              Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. In volutpat sodales ipsum. Sed vestibulum. Integer in ante. Sed Nunc laoreet lacinia nunc. In volutpat sodales <a href="#">ADD IT TO THE CART!</a> OR  <a href="#">BUY IT NOW!</a></p>
            <div class="clear"></div>
          </div>
          <div class="specialItem"> <img src="/static/images/img_pizza-10.jpg" width="75" height="75" alt="" />
            <p><span class="headline">Nam eu nulla. Donec lobortis purus vel urna. Nunc </span><br />
              Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. In volutpat sodales ipsum. Sed vestibulum. Integer in ante. Sed Nunc laoreet lacinia nunc. In volutpat sodales <a href="#">ADD IT TO THE CART!</a> OR  <a href="#">BUY IT NOW!</a></p>
            <div class="clear"></div>
          </div>
          <div class="specialItem"> <img src="/static/images/img_pizza-10.jpg" width="75" height="75" alt="" />
            <p><span class="headline">Nam eu nulla. Donec lobortis purus vel urna. Nunc </span><br />
              Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. In volutpat sodales ipsum. Sed vestibulum. Integer in ante. Sed Nunc laoreet lacinia nunc. In volutpat sodales <a href="#">ADD IT TO THE CART!</a> OR  <a href="#">BUY IT NOW!</a></p>
            <div class="clear"></div>
          </div>
          <div class="specialItem"> <img src="/static/images/img_pizza-10.jpg" width="75" height="75" alt="" />
            <p><span class="headline">Nam eu nulla. Donec lobortis purus vel urna. Nunc </span><br />
              Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. In volutpat sodales ipsum. Sed vestibulum. Integer in ante. Sed Nunc laoreet lacinia nunc. In volutpat sodales <a href="#">ADD IT TO THE CART!</a> OR  <a href="#">BUY IT NOW!</a></p>
            <div class="clear"></div>
          </div>
          <div class="specialItem"> <img src="/static/images/img_pizza-10.jpg" width="75" height="75" alt="" />
            <p><span class="headline">Nam eu nulla. Donec lobortis purus vel urna. Nunc </span><br />
              Nam eu nulla. Donec lobortis purus vel urna. Nunc laoreet lacinia nunc. In volutpat sodales ipsum. Sed vestibulum. Integer in ante. Sed Nunc laoreet lacinia nunc. In volutpat sodales <a href="#">ADD IT TO THE CART!</a> OR  <a href="#">BUY IT NOW!</a></p>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clear" id="end"></div>
    </div>
    <div id="footer">
      <p><a href="#">HOME PAGE</a> | <a href="#">ABOUT US</a> | <a href="#">OUR MENU</a> | <a href="/login">LOGIN</a> | <a href="#">CART!</a> | <a href="#">CONTACTS</a><br/>
   <!--     Copyright &copy; Your Company Name | Design by <a href="http://freshtemplates.com/">Website Templates</a></p>-->
    </div>
  </div>
</div>
</body>
</html>
